<div style="text-align: center; background-color: #f9f9f9; padding: 3rem 1rem 3rem 1rem">
    <p style="font-size: 1.2rem; margin-bottom: 2rem; color: #000">{{ name }}, при реєстрації акаунту, було вказано вашу електронну адресу.</p>
    <p>Введіть код:</p>
    <p style="font-size: 2rem; margin: 0"><strong>{{ code }}</strong></p>
    <p>або</p>
    <div style="background-color: #000; border-radius: 0.5rem; width: 75%; transition: background-color 0.5s; margin: auto; font-size: 2rem; word-wrap: anywhere"><a href="{{ link }}" style="text-decoration: none; color: #fff; display: block; padding: 8px; border-radius: 0.5rem">Активувати акаунт</a></div>
    <p style="color: #900000; margin-top: 3rem">УВАГА! Цей код дійсний 24 години.</p>
    <p style="color: #900000; margin-top: 1rem">Якщо це були не ви, проігноруйте цей лист.</p>
</div>