<div style="text-align: center; background-color: #f9f9f9; padding: 3rem 1rem 3rem 1rem">
    <div style="background-color: #000; border-radius: 0.5rem; width: 75%; transition: background-color 0.5s; margin: auto; font-size: 2rem; word-wrap: anywhere"><a href="{{ link }}" style="text-decoration: none; color: #fff; display: block; padding: 8px; border-radius: 0.5rem">Скинути пароль</a></div>
    <p style="color: #900000; margin-top: 3rem">УВАГА! Це посилання дійсне 5 хвилин.</p>
    <p style="color: #900000">Якщо це були не ви, проігноруйте цей лист.</p>
</div>