{% extends 'base.html' %}

{% block page_title %}Переказати кошти{% endblock %}

{% block style %}
            [name=recipient_card]:hover, [name=comment]:hover{
                border: 2px solid black;
                border-radius: 7px;
            }

            [name=recipient_card]:focus, [name=comment]:focus{
                border: 2px solid black;
                border-radius: 7px;
            }

            [name=comment]{
                border: 1px solid grey;
                border-radius: 7px;
                height: 40px;
                width: 100%;
                padding: 8px;
            }

            form{
                min-width: 230px;
                max-width: 450px;
                width: 50%;
            }

            .password-container input {
                border: 1px solid grey;
                border-radius: 7px;
                height: 40px;
                padding: 8px;
                flex: 1 1 auto;
            }

            .password-container {
                width: 100%;
            }

            #paymentSystem {
                width: max-content;
                border-bottom-right-radius: 7px;
                border-top-right-radius: 7px;
                height: 40px;
                width: 40px;
                padding: 0;
            }

{% endblock %}

{% block page %}
<h1 class="text-center">Переказати кошти з картки {{ card_title }}</h1>
<form action="" method="post" class="mx-auto">
    {% csrf_token %}
    <div class="input-group row row-cols-2 flex-nowrap mb-2 m-0 password-container">
        <input type="text" name="recipient_card" placeholder="Номер картки" oninput="checkCard(this)">
        <div class="alert-danger ms-0 d-flex flex-shrink-0" id="paymentSystem"><i class="bi-x m-auto" style="font-size: 1.75rem"></i></div>
    </div>

    <textarea name="comment" placeholder="Коментар" style="height: 200px; resize: none" maxlength="100" class="mt-1"></textarea>
    <h3>Сума: <label for="money-range" id="money">10</label> {{ card_currency }}</h3>
    <div class="row">
        <a type="button" class="btn col col-auto" onclick="money('-')"><i class="bi-chevron-left"></i></a>
        <input name="money" id="money-range" type="range" class="form-range col my-auto" min="10" max="{{ max_money }}" step="10" value="10" oninput="getElementById('money').innerText = this.value">
        <a type="button" class="btn col col-auto" onclick="money('+')"><i class="bi-chevron-right"></i></a>
    </div>

    <a href="../{{ card_id }}" style="height: 40px; float: left" class="btn btn-secondary mt-3 shadow ms-1">Скасувати</a><input type="submit" value="Переказати" style="height: 40px; float: right" class="btn btn-success mt-3 shadow" id="submitBtn" disabled>
</form>
{% endblock %}
{% block script %}
{% load static %}
<script>
    function checkCard(numberInput) {
        let number = numberInput.value.replace(/\s/g, '');
        let paymentSystem = document.getElementById('paymentSystem');
        let submitBtn = document.getElementById('submitBtn');

        if (number.length === 16 && /^\d+$/.test(number)){
            paymentSystem.innerHTML = "<div class='spinner-border m-auto' style='width: 1.75rem; height: 1.75rem'></div>";
            paymentSystem.className = 'alert-secondary ms-0 d-flex flex-shrink-0';
            submitBtn.setAttribute('disabled', '');

            $.ajax({
                url: '',

                data: {
                    'number': number,
                },

                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                },

                method: 'POST'
            }).done(function (data, textStatus, jqXHR) {
                let response = jqXHR.responseText;

                if (response){
                    paymentSystem.innerHTML = "<img src='{% static 'images/cards/payment_system/' %}" + response + ".png' class='m-auto' style='width: 1.75rem'>";
                    paymentSystem.className = 'alert-success ms-0 d-flex flex-shrink-0';
                    submitBtn.removeAttribute('disabled');
                } else {
                    paymentSystem.innerHTML = "<i class='bi-x m-auto' style='font-size: 1.75rem'></i>";
                    paymentSystem.className = 'alert-danger ms-0 d-flex flex-shrink-0';
                    submitBtn.setAttribute('disabled', '');
                }
            })
        } else {
            paymentSystem.innerHTML = "<i class='bi-x m-auto' style='font-size: 1.75rem'></i>";
            paymentSystem.className = 'alert-danger ms-0 d-flex flex-shrink-0';
            submitBtn.setAttribute('disabled', '');
        }
    }

    function money(operation){
        let money = parseInt(document.getElementById('money-range').value);

        if (operation === '+'){
            document.getElementById('money-range').value = money + 100 - money % 100;
        } else {
            if (money % 100) {
                document.getElementById('money-range').value = money - (money % 100);
            } else {
                document.getElementById('money-range').value = money - 100;
            }
        }

        document.getElementById('money').innerText = document.getElementById('money-range').value;
    }
</script>
{% endblock %}